<!-- this file contains the list of events from 2015. These sections used to be part of the schedule section -->
                    <ul class="col-lg-12" id="sched-dates">
                    	<li id="friday">Friday, Oct. 23&nbsp;&nbsp;&nbsp;<span class="expand-text">[ Expand ]</span></li>
                        	<div id="fri-toggle">
                                <div class="event">
                                    <span class="time"> Noon - 1:30 p.m. | Copley Lawn Tent</span><br>
                                    <span class="title">Welcome and Keynote Luncheon</span><br>
                                    <span class="moderator">John J. DeGioia,<br>President, Georgetown University,<br>and Kaya Henderson (F'92, EML'07) </span>
                                </div>
                                <div class="break">
                                    <span class="time">1:30 - 2 p.m.</span>
                                    <br>Break
                                </div>
                                <div class="event">
                                    <span class="time">2 - 3:15 p.m.</span><br>
                                    <span class="title">Leadership Panel</span><br>
                                    <span class="moderator">Moderated by: Tracy Carmen Jones (B'85),<br> President, The Waterlight Group</span>
                                    <p class="event-desc">This panel aims to engage prominent leaders from a variety of sectors in a conversation on  leadership. Hoyas are working in nonprofits, philanthropy, big business and small business. Join  the conversation and hear the panelists give their take on specific leadership skills they use to drive  results, leadership approaches that work well, pitfalls made and challenges that exist in translating  vision into reality. This session includes interactive Q&amp;A, giving you the opportunity to further  explore the panelists' views on leadership.</p>
                                </div>
                                <div class="break">
                                    <span class="time">3:15 - 3:30 p.m.</span>
                                    <br>Break
                                </div>
                                <div class="event">
                                    <span class="time">3:30 - 5 p.m.</span><br>
                                    <span class="title">The Black Experience on The Hilltop</span><br>
                                    <span class="moderator">Moderated by: Charlene Brown-McKenzie (C'95),<br>Director, Georgetown University Center for Multicultural Equity and Access</span><br>
                                    <p class="event-desc">Current staff, faculty and student leaders, as well as alumni, will share their experiences, discuss the current state of the community at Georgetown and answer alumni questions.</p>
                          		</div>
                                <div class="break">
                                    <span class="time">5 - 5:30 p.m.</span>
                                    <br>Break
                               </div>

                               <div class="event">
                                    <span class="time">5:30 - 6:30 p.m.</span><br>
                                    <span class="title">Leaning on the Blue & Gray Shield - LinkedIn 2.0</span><br>
                                    <p class="event-desc">The old adage, “It's not what you know, but who you know”, has never been more true than in today's competitive and challenging economy. While connecting with people via social media is a good networking strategy, nothing beats person-to-person contact.  The goal of these industry-focused networking sessions is to help build communities where you can feel comfortable sharing your dreams and need for assistance, and be inspired enough to be of service to your fellow alumni.  Whether you are new to your field, hoping to change careers, or an industry titan, come prepared with your elevator pitch, business card and a willingness to leverage the collective strength of the Hoya network.<br><br>
    a) Education<br>
    b) Business<br>
    c) Technology &amp; Entrepreneurship<br>
    d) Media<br>
    e) Law<br>
    f) Politics &amp; Government<br>
    g) Health &amp; Wellness<br>
    h) Non-profit &amp; Philanthropy</p>
                                </div>
                                <div class="event">
                                    <span class="time">6:30 - 8:30 p.m.</span><br>
                                    <span class="title">Networking Cocktail Reception<br>with Black Students, Alumni, <br>Faculty and Staff</span><br>
                               </div>
                      </div>
                      <li id="saturday">Saturday, Oct. 24&nbsp;&nbsp;&nbsp;<span class="expand-text">[ Expand ]</span></li>
                          	<div id="sat-toggle">
                               <div class="event">
                                    <span class="time">8 - 9:45 a.m.</span><br>
                                    <span class="title">Keynote Breakfast</span><br>
                                    <span class="moderator">Congresswoman Stacey Plaskett (F'88),<br>United States Virgin Islands, United States House of Representatives,<br>and
                                    John J. DeGioia,<br>President, Georgetown University</span>
                               </div>
                               <div class="event">
                                    <span class="time">10 - 11:15 a.m.</span><br>
                                    <span class="title">University Engagement Panel</span><br>
                                    <span class="moderator">Moderated by: Melody Rollins (F'93),<br>E.V.P. for U.S. Institutional Client Management, <br>Pacific Investment Management Company</span><br>
                                    <p class="event-desc">As the percentage of Black alumni rises, it is increasingly important that the membership of university governing boards and advisory councils reflect the diversity of the alumni body. How can we ensure that members of our community are informed and well-positioned to assume these positions of influence that shape the direction of the university? This panel will discuss how engagement, participation and giving factor into alumni leadership, legacy admission and a greater voice in university affairs.</p>
                               </div>
                               <div class="break">
                                    <span class="time">11:15 - 11:30 a.m.</span><br>
                                    Break</span>
                                </div>
                                <div class="event">
                                    <span class="time">11:30 - 12:45 p.m.</span><br>
                                    <span class="title">Education Panel</span><br>
                                    <span class="moderator">Moderated by: Ky Adderley (C'98, S'01),<br>Founder and President, The Adderley Group</span><br>
                                    <p class="event-desc">This panel will explore the unique challenges Black students face in pursuing their education at all levels and will discuss pragmatic policy &ndash; and personal strategies &ndash; for ensuring educational success. What changes are needed at the national and local levels to bring about educational equity? How can parents effectively advocate for their children at school? What can we do, collectively, to support greater outcomes for Black students?</p>
                                </div>
                                <div class="event">
                                    <span class="time">12:45 - 2:15 p.m.</span><br>
                                    <span class="title">Backyard BBQ</span><br>
                               </div>
                               <div class="event">
                                    <span class="time">2:15 - 3:30 p.m.</span><br>
                                    <span class="title">Hollywood's New Love Affair with Black Americans</span><br>
                                    <span class="moderator">Moderated by: Gordon Bobb (C'93),<br>Partner, Del Shaw Moonves Tanaka Finkelstein & Lezcano</span><br>
                                    <p class="event-desc">Since its premiere last season, <em>Empire</em> has experienced unprecedented network television success, yet it goes head-to-head with <em>Black-ish</em>, last season's hit sitcom. In other news, Shonda Rhimes owns Thursday nights and our history was finally told in <em>Selma </em>by our own Ava Duvernay. But not everyone is pleased with every character or story that is being told. Should the collective "we" expect more from the few opportunities we get to create and star in depictions of our stories? Should we instead celebrate the mere existence of more of "us" on television and on the big screen? Is there room for characters like Dr. Bailey, Rainbow AND Cookie? When we may only get one character on a show or one opportunity to bring something new to the screen, do we have a greater responsibility to choose a character that fights a stereotype rather than perpetuates it? Join us as we explore the past and current images of Black America in television and motion pictures, and debate whether the increased opportunities we are now experiencing are all a "success."</p>
                                </div>
                                <div class="break">
                                    <span class="time">3:30 - 3:45 p.m.</span>
                                    <br>Break
                               </div>
                               <div class="event">
                                    <div class="details">
                                        <span class="time">3:45 - 5 p.m.</span><br>
                                        <span class="title">Sports Panel</span><br>
                                        <span class="moderator">Moderated by: Terri Jackson (C'89, L'92),<br>
                                        Director of Law, Policy and Governance, National Collegiate Athletic Association</span>
                                        <p class="event-desc">Former Georgetown athletes will discuss the role Georgetown athletics played in their lives and careers beyond the Hilltop.</p>
                                    </div>
                                </div>
                                <div class="event">
                                    <span class="time">7 - 10 p.m. | Copley Lawn Tent</span><br>
                                    <span class="title">Closing Dinner and Remarks</span><br>
                                    <span class="moderator">Alumni Spotlight: Valerie Lancaster Beal (C'76)<br><br>Keynote: Kevin Warren (B'84),<br> President, Industrial, Retail and Hospitality Business Group, Xerox Services</span>
                               </div>
                                <div class="event">
                                    <span class="time">10 p.m. | Epicurean &amp; Company (Former Darnall Cafeteria)</span><br>
                                    <span class="title">Celebration (Optional)</span><br>
                                    <p class="event-desc">D.J. and cash bar</p>
                                </div>
                           	</div>

                        <li id="sunday">Sunday, Oct. 25&nbsp;&nbsp;&nbsp;<span class="expand-text">[ Expand ]</span></li>
                        	<div id="sun-toggle">
                                <div class="event">
                                    <span class="time">10 a.m. | Copley Hall</span><br>
                                    <span class="title">Gospel Service in the Protestant Chapel</span><br>
                                   	<span class="moderator">Barry K. Hargrove (C'88),<br>Pastor, Prince of Peace Baptist Church of Baltimore,<br>
                                    and Georgetown University Gospel Choir</span>
                                </div>
                           	</div>
                    </ul>
