/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  padding:0px!important;
  }

.rslides_nav.next, .rslides_nav.prev {
  margin-top:.5em;
}
.rslides_nav.next {
  float:right;
  padding:.5em; background:#000; border-radius:10px;
}

.rslides_nav.prev {
  float:left;
  padding:.5em; background:#000; border-radius:10px;
}