/*! responsive-nav.js 1.0.39 by @viljamis */

.nav-collapse ul {
  float:right;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
  background-color:#FFFFFF;
}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
}
a.nav-toggle {
    text-align:right;
  	display:block; height:64px;
	background-image:url(../img/mobile-menu.png);
  	background-repeat:no-repeat;
	background-position:right;
	background-size:64px 64px;
	z-index:9999;
}

@media screen and (min-width: 1024px) {
  .nav-collapse ul, .nav-collapse ul li {width:auto;}
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
  a.nav-toggle {display:none;}
  .nav-collapse ul {display:block;}	
}
