@charset "utf-8";

/* General Typography */

a:link, a:visited, a:active {
    color: #EDFC63;
    text-decoration: none;
    border-bottom: 1px solid #EDFC63;
}

a:hover {
    border: none;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

dd {
    margin-bottom: 20px;
}

dt {
    color: #1acfff;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    text-transform: uppercase;
    color: #1acfff;
    border-bottom: 3px solid #1acfff;
    padding-bottom: 10px;
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}


/* custom Row Width. Adjust this to increase the default width of the sections. */

.row {
    max-width: 1200px;
    margin: 0 auto;
}


/* About Section */

#about input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #edfc63;
    text-transform: uppercase;
    font-size: 36px;
}

wrapper {
    width: 100%;
}

wrapper, div {
    margin: 0 auto;
}

.bio-container {
    width: 100%;
    overflow-y: scroll;
    max-height: 75vh;
}

.blockquote-right, .blockquote-left {
    color: #1acfff;
    font-size: 22px !important;
}

.blockquote-right {
    float: right;
}

.blockquote-right:nth-child(2) {
    padding-top: 350px;
}

.blockquote-left {
    float: left;
}

.break, .event {
    padding: 10px 0;
    margin: 10px 0;
}


/*.details {width:50%; float:left;}*/

.event a:hover {
    border: none!important;
}

.event, .break {
    width: 100%;
    font-size: 18px;
    float: left;
}

.event-desc {
    text-transform: none;
    font-weight: normal;
}

.expand-text {
    font-size: 14px;
    color: #1acfff;
}

.expand-text:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.hotel-info {
    clear: both;
    width: 100%;
    margin: 20px auto;
    height: auto;
}

.hotel-info img {
    margin-bottom: 45px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 20vh;
    left: 20%;
    width: 60%;
    background-color: #FFFFFF;
    color: #000000;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog img {
    width: 25%;
    float: left;
    padding: 0 15px 0 0;
}

.modalDialog p, .modalDialog h2 {
    padding: 0 5%;
    text-align: left;
}

.modalDialog p {
    text-size: 14px;
    text-transform: none;
    font-weight: normal;
}

.modalDialog h2 {
    text-transform: uppercase;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}


/*.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}*/

.modalDialog .close {
    background: #1ACFFF;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.modalDialog .close:hover {
    color: #000000;
    border: none!important;
}

.moderator {
    color: #EDFC63;
    font-weight: normal;
}


/* Nav Bar */

.nav {
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: white;
    color: black;
    margin-top: 0;
    z-index: 9999;
}

.nav ul {
    float: right;
    height: 100%;
    margin-top: 0;
}

.nav ul li {
    list-style: none;
    float: left;
    text-transform: uppercase;
    padding: 22px 20px 0 20px;
    height: 64px;
}

.nav ul li:hover {
    background-color: #1ACFFF;
    transition-duration: .8s;
}

.nav a:link, .nav a:visited {
    text-decoration: none;
    border: none;
    color: #002147;
}

.nav ul li.active a {
    border-bottom: 5px solid #002147;
}

.section {
    background-size: cover;
    padding: 60px 0;
}


/* Nav Bar: Disabled Links Styling */


/* Get rid of the hover color */

li.disabled:hover {
    background: #fff! important;
}


/* Let's lighten things up */

li.disabled a {
    opacity: 0.5;
    position: relative;
}


/* Disable Bottom border for disabled links */

.disabled.active a {
    border-bottom: 0px solid !important;
}


/* Adding the Coming Soon text in a Pseudo Element */

li.disabled a:after {
    content: "Coming Soon";
    font-size: 10px;
    position: absolute;
    top: 25px;
    right: -1px;
    left:0px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0);
    -webkit-transition: co 400ms ease-in;
    -moz-transition: color 400ms ease-in;
    transition: color 400ms ease-in;
    cursor: default;
}


/* This turns the pseudo element text red on hover */

li.disabled a:hover:after {
    color: #7d0505;
}

.section-body {}

.section-body p {
    font-size: 18px;
}

.social {
    padding: 22px 15px 0;
}

.social img {
    width: 19px;
    height: 19px;
}

.speaker-container {
    float: left;
    padding: 30px 0;
    text-align: center;
    width: 260px;
    height: 300px;
}

.speaker-container a:link, .speaker-container a:visited, .speaker-container a:hover, .speaker-container a:active {
    text-decoration: none;
    border: none;
}

.speaker-container a img:hover {
    opacity: .6;
}

.speaker-name {
    width: 100%;
    clear: both;
    float: left;
    font-weight: bold;
    margin: 10px auto 0;
    text-transform: uppercase;
}

.speaker-portrait {
    width: 150px;
    text-decoration: none;
    border: none;
}

.title {
    color: #1ACFFF;
    text-transform: uppercase;
    font-weight: bold;
}

#curly-bracket {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 60px;
}

#schedule {
    background-image: url(../img/bg-faq.jpg);
}

#footer {
    background: #000000;
}

#footer p {
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
}

#fri-toggle, #sat-toggle, #sun-toggle {
    display: none;
}

#gu-abbrev {
    width: 64px;
    height: 48px;
    position: absolute;
    left: 15px;
    top: 10px;
}

#home {
    background-image: url(../img/home-bg.png);
    background-repeat: no-repeat;
    ;
}

#home .section-body {
    width: 40%;
}

#hotel {
    background-image: url(../img/bg-hotel.jpg);
}

#hotel img {
    padding: 0 10px 10px;
    float: left;
    text-decoration: none;
    border: none;
}

#inform:hover {
    cursor: pointer;
}

#logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#logo img {
    padding-top: 70px;
    width: 100%;
}

#mobile-menu {
    display: none;
}

#register-btn {
    float: left;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    padding: 15px 5%;
}

#register-btn a:link, #register-btn a:visited {
    text-decoration: none;
    color: #FFFFFF;
    border: none;
}

#register-btn {
    background-color: #f8555b;
    font-size: 36px;
}


/*#register-nav-btn {
  text-align: center;
  text-transform:uppercase;
  background-color: #F8555B;
  display: block;
  position: relative;
  height:35px;
  padding-top:15px;
}
#register-nav-btn a:link, #register-nav-btn a:hover, #register-nav-btn a:visited, #register-nav-btn a:active {
	color:#FFFFFF;
	top:15px;
	border:none;
}*/

#sched-dates {
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    text-transform: uppercase;
    margin-top: 0;
}

#sched-dates li {
    padding-top: 30px;
}

#sched-dates a:link, #sched-dates a:visited {
    color: white;
    text-decoration: none;
    border: none;
}

#sched-dates a:hover, #sched-dates a:active {
    color: white;
    border-bottom: 5px solid #FFFFFF;
}

#share-nav-btn {
    background-image: url(../img/share.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28px 28px;
}


/*Form styling*/

.subform {
    transition: all .4s;
    width: 100%;
    text-align: center;
    float: left;
}

.subform input[type='submit'] {
    margin-bottom: 1em;
}

.subform label {
    font-size: 10px;
    display: block;
    margin: 0;
    line-height: 1em;
}

.frm {
    display: none;
    width: 500px;
    padding: 1em;
    margin: 1em auto;
    font-family: 'Ubuntu', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    ;
}

.frm label {
    display: block;
    width: 400px;
    margin: 1em auto .5em;
}

.frm input {
    height: 2em;
    border-radius: 2px;
    border: none;
    padding: 0 10px;
    font-size: 14px;
    color: #00205c;
}

.frm input, .frm select {
    display: block;
    margin: 0 auto;
    width: 380px;
}

.frm select {
    width: 400px;
    height: 2em;
    border-radius: 10px;
    color: #00205c;
}

.frm input[type='submit'] {
    width: 140px;
    height: 40px;
    font-weight: bold;
    margin: .5em auto;
    padding: 1em auto;
    background: #1ACFFF;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Ubuntu', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

.frm .reqd {
    color: red;
}

.frm .error {
    border: 1px solid red;
}

.frm .errormsg {
    color: red;
    font-size: 12px;
    text-align: center;
}

.frm p {
    margin: 1em auto;
    width: 400px;
}

.ui-widget-content {
    background: #000;
    color: #FFF;
}

.ui-widget-content a {
    color: #FFF;
}

.ui-widget-header {
    background: #1ACFFF;
}

.ui-icon-closethick {
    background-color: #1ACFFF;
}

button.ui-dialog-titlebar-close {
    background: #1ACFFF!important;
    border: 1px solid transparent!important;
}


/*End form styling*/


/*Gallery Styling */

#photos {
    background-color: #0d1b2d;
}

.gallery div {
    height: 200px;
    padding: 10px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    min-width: 100%;
    height: auto;
}


/*modal window styling */

.modal {
    padding: 0 !important;
}

.modal-dialog {
    margin: 64px auto 0px;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.33);
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 0;
}

.modal .thumbnail {
    margin-bottom: 6px;
    max-height: 82vh;
    width: auto;
    margin: auto;
}

.modal-content .close {
    width: 50px;
    height: 50px;
    background: none;
    font-size: 50px;
    border: 0px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-bottom: 20px;
}

.thumbnail {
    margin-bottom: 6px;
}


/* MOBILE STYLING */

@media screen and (max-width: 1024px) {
    /*#register-nav-btn {padding:15px 30px 0 30px;height:48px; float:left; text-align:inherit;}*/
    .nav ul li {
        font-size: 36px;
        padding: 6px 25px !important;
    }
    /* Tweaking the positioning of the disabled text */
    /*hiding disabled on mobile displays */
    li.disabled {
        display: none !important;
    }
    li.disabled a:hover:after {
        top: 40px;
        left: 1px;
        font-size: 15px;
    }
    .social {
        width: 33.33%!important;
        text-align: center;
        padding: 10px 0px !important;
        border-top: 1px solid #efefef;
    }
    .section-body {
        width: 95%;
    }
    #home .section-body {
        width: 80%;
    }
    .blockquote-right, .blockquote-left {
        text-align: center;
        text-align: center;
        border-top: 2px solid;
        border-bottom: 2px solid;
        padding: 10px;
    }


.nav ul li:first-child {
    display: none;
}

.speaker-container {
    width: 100%;
    height: auto;
}

.modalDialog {
    top: 10vh;
    left: 5%;
    width: 90%;
    background-color: #FFFFFF;
    /*height:50vh;
		overflow:scroll;*/
}

.speaker-portrait {
    display: none!important;
}

.modalDialog p, .modalDialog h2 {
    padding: 0 15px;
    text-align: left;
}

.modalDialog p {
    font-size: 22px;
    text-transform: none;
    font-weight: normal;
}

.modalDialog .close {
    line-height: 64px;
    width: 64px;
    font-size: 36px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.social img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}


}
@media screen and (max-width:480px) {

/* Remove left margin for FAQ */
	dd{
		margin-left:0px;
	}
    /* Adjust the height of the image on mobile */
    .gallery div {
        max-height: 100px;
    }

    .blockquote-right, .blockquote-left {
        font-size: 18px !important;
    }


}
