@charset "utf-8";
a:link, a:visited, a:active {color:#EDFC63; text-decoration:none; border-bottom:1px solid #EDFC63;}
a:hover {border:none;}
body {
	margin:0; 
	background-color:black; 
	color:white;
	font-family: 'Ubuntu', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
dd {margin-bottom:20px;}
dt {color:#1acfff; font-weight:bold; font-size:18px;}
h1 {
	text-transform:uppercase; 
	color: #1acfff; 
	border-bottom:3px solid #1acfff;
	padding-bottom:10px;
	font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
#about input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #edfc63;
    text-transform: uppercase;
	font-size:36px;
}
wrapper {width:100%;}
wrapper, div {margin:0 auto;}
.blockquote-right, .blockquote-left {color: #1acfff; padding:0 4%; margin-top:90px; width:12%; font-size:22px;}
.blockquote-right {float:right;}
.blockquote-right:nth-child(2) {padding-top:350px;}
.blockquote-left {float:left;}
.break, .event {
	padding:10px 0;
	margin: 10px 0;	
}
/*.details {width:50%; float:left;}*/
.event a:hover {border:none!important;}
.event,.break {width:100%; font-size: 18px; float:left;}
.event-desc {text-transform:none; font-weight:normal;}
.expand-text {
	font-size:14px; 
	color:#1acfff;
}
.expand-text:hover {
	cursor:pointer; 
	color: #FFFFFF;
}
.hotel-info {
	clear:both; 
	width:100%; 
	margin:30px auto; 
	height:auto;}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top:20vh; left:20%;
	width:60%;
	background-color:#FFFFFF;
	color:#000000;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog img {
	width:25%; 
	float:left; 
	padding-right:15px;
}
.modalDialog p, .modalDialog h2 {
	padding:0 5%;
	text-align:left;
}
.modalDialog p {text-size:15px; text-transform:none; font-weight:normal;}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.modalDialog .close {
	background: #1ACFFF;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.modalDialog .close:hover { color: #000000; border:none!important; }
.moderator {
	color:#EDFC63;
	font-weight:normal;
}
.nav {
	font-family:'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-weight:bold;
	position:fixed;
	width:100%;
	height:50px;
	background-color:white;
	color:black;
	margin-top:0;
}
.nav ul {float:right; height:100%; margin-top:0;}
.nav ul li{
	list-style:none;
	float:left;
	text-transform:uppercase;
	padding: 15px 30px 0 30px;
	height:35px;
}
.nav ul li:hover {
	background-color: #1ACFFF;
	transition-duration: .8s;
}
.nav a:link, .nav a:visited {
	text-decoration:none; 
	border:none;
	color:#002147;
}
.nav ul li.active a {
  border-bottom:5px solid #002147;}
.section {
	float: left;
    padding: 60px 0;
    width: 100%;
	background-size:cover;
}
.section-body {width:60%; margin:0 auto;}
.section-body p {font-size:18px;}
.speaker-container {
	float: left;
	  padding: 30px 0;
	  text-align: center;
	  width: 260px;
	  height:300px;
}
.speaker-container a:link, .speaker-container a:visited, .speaker-container a:hover, .speaker-container a:active {text-decoration:none; border:none;}
.speaker-container a img:hover {opacity:.6;}
.speaker-name {
	width:100%;
	clear:both;
	float:left;
	font-weight: bold;
    margin: 10px auto 0;
    text-transform: uppercase;	
}
.speaker-portrait {width:150px; text-decoration:none; border:none;}

.title {color: #1ACFFF; text-transform: uppercase; font-weight:bold;}
#curly-bracket {position:absolute; top:0px;left:5px;font-size:60px;}
#schedule {background-image:url(../img/bg-faq.jpg);}
#footer {background:#000000;}
#footer p {margin:0 auto; text-align:center; line-height:2em;}
#fri-toggle, #sat-toggle, #sun-toggle {display:none;}
#gu-abbrev {
	width:50px; 
	position:absolute; 
	left:15px; top:10px;
}
#home {background-image:url(../img/bg-home.jpg);}
#home .section-body {width:40%;}

#hotel { 
	background-image:url(../img/bg-hotel.jpg); 
}
#hotel img { 
	padding:0 10px 10px; 
	float:left; 
	text-decoration:none; 
	border:none;
}
#inform:hover {cursor:pointer;}
#logo {width:100%; margin:0 auto ; text-align:center;}
#logo img {padding-top:70px; width:100%;}
#mobile-menu {display:none;}
#register-btn{
    float:left;
    text-align: center;
    text-transform: uppercase;
	width:90%; padding:15px 5%;
}
#register-btn a:link, #register-btn a:visited  {text-decoration:none; color:#FFFFFF; border:none;}

#register-btn {
	background-color: #f8555b;
	font-size: 36px;
}
/*#register-nav-btn {
  text-align: center;
  text-transform:uppercase;
  background-color: #F8555B;
  display: block;
  position: relative;
  height:35px;
  padding-top:15px;
}
#register-nav-btn a:link, #register-nav-btn a:hover, #register-nav-btn a:visited, #register-nav-btn a:active {
	color:#FFFFFF; 
	top:15px;
	border:none;
}*/
#sched-dates {
	font-size:24px;
	font-weight: bold;
    list-style:none;
    padding: 0;
    text-transform: uppercase;
}
#sched-dates li {padding-top:30px;}
#sched-dates a:link, #sched-dates a:visited {
	color:white; 
	text-decoration:none;
	border: none;
}
#sched-dates a:hover, #sched-dates a:active {
	color:white; 
	border-bottom:5px solid #FFFFFF;
}
#share-nav-btn {
	background-image:url(../img/share.png); 
	background-repeat:no-repeat; 
	background-position:center center; 
	background-size:28px 28px;
}
/*Form styling*/
.subform {
	transition:all .4s;
	width:100%;
	text-align:center;
	float:left;
}
.subform input[type='submit'] {margin-bottom:1em;}
.subform label {
	font-size: 10px; 
	display:block; 
	margin:0; 
	line-height: 1em;}
.frm {
	display:none;
	width: 500px;
	padding: 1em;
	margin: 1em auto;
	font-family:'Ubuntu', 'HelveticaNeue', Helvetica, Arial, sans-serif;;
}
.frm label {
	display: block; 
	width:400px; 
	margin:1em auto .5em;
}
.frm input {
	height:2em; 
	border-radius: 2px; 
	border:none; 
	padding:0 10px; 
	font-size:14px; 
	color: #00205c;
}
.frm input, .frm select {
	display:block; 
	margin:0 auto; 
	width:380px; 
}
.frm select {
	width: 400px;
	height: 2em;
	border-radius: 10px;
	color:#00205c;
}
.frm input[type='submit'] {
	width:140px; 
	height:40px; 
	font-weight:bold; 
	margin:.5em auto; 
	padding:1em auto; 
	background:#1ACFFF; 
	color:#FFF; 
	text-transform: uppercase; 
	font-family:'Ubuntu', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
.frm .reqd {color:red;}
.frm .error {border:1px solid red;}
.frm .errormsg {color:red; font-size:12px; text-align: center;}
.frm p {margin: 1em auto; width:400px;}
.ui-widget-content {background: #000; color:#FFF;}
.ui-widget-content a {color:#FFF;}
.ui-widget-header {background:#1ACFFF;}
.ui-icon-closethick {background-color:#1ACFFF;}
button.ui-dialog-titlebar-close {background:#1ACFFF!important; border:1px solid transparent!important;}
/*End form styling*/



@media screen and (max-width: 1200px) {
	/*#register-nav-btn {padding:15px 30px 0 30px;height:48px; float:left; text-align:inherit;}*/
	.nav ul li {height:48px; font-size:36px;}
	.section-body {width:95%;}
	#home .section-body {width:80%;}
	.blockquote-right, .blockquote-left {display:none;}
	.nav ul li:first-child {display:none;}
	.speaker-container {width:100%; height:auto;}
}